<!doctype html>
<html lang="en" ng-app="phonecatApp">
  <head>
    <style>
      pre, code{white-space:pre-line;}
    </style>
    <meta charset="utf-8">
    <title>GA Crochet Pattern Creator</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <script src="bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller = "ServiceController">
    <h1>Please choose the top 5 pattern choices.</h1>
    <div class="container">
      <div class="row" ng-repeat="item in patterns track by $index" ng-if= "$index % 4 == 0">
          <div class="col-sm-2" style="background-color:blue;" ng-repeat = "i in [$index, $index + 1, $index + 2, $index + 3]" ng-if="patterns[i] != null">
            <pre> {{item.data}}</pre>
            <input type="checkbox" name= "$index" value= "$index" ng-change="checkChanged(i)" ng-model="patterns[i].selected" ng-disabled= "checked==limit">
          </div>
      </div>
    </div>
    <button ng-click="next()">Next</button>
    <button ng-click="finished()">Finished</button>
  </body>
</html>
