<!doctype html>
<html lang="en" ng-app="phonecatApp">
  <head>
    <style>
      pre, code{white-space:pre-line;}
    </style>
    <meta charset="utf-8">
    <title>GA Crochet Pattern Creator</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <script src="bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller = "ServiceController">
  <div style="text-align:center;"> 
    <h1>Please choose preferred pattern choices.</h1>
    <div style="max-width:1100px;margin:auto;">
    <div class="container" style="margin:auto;">
      <div class="row" 
           ng-repeat="item in patterns" 
           ng-if = "$index % 3 == 0">
          <div class="col-sm-4" 
               style="background-color:black;">
              <pre> <span ng-repeat = "char in patterns[$index].data track by $index" 
                          ng-style="getStyle(char)" ><img ng-src="{{color}}"><span ng-if = "char == '\n'">{{char}}</span></pre>
            <input type="checkbox" 
                   name= "$index" 
                   value= "$index" 
                   ng-change="checkChanged($index)" 
                   ng-model="patterns[$index].selected" 
                   ng-disabled= "checked==limit && !patterns[$index].selected">
          </div>
          <div class="col-sm-4" 
               style="background-color:black;letter-spacing: 4px;">
              <pre> <span ng-repeat = "char in patterns[$index+1].data track by $index" 
                          ng-style="getStyle(char)" ><img ng-src="{{color}}"><span ng-if = "char == '\n'">{{char}}</span></pre>
            <input type="checkbox" 
                   name= "$index+1" 
                   value= "$index+1" 
                   ng-change="checkChanged($index+1)" 
                   ng-model="patterns[$index+1].selected" 
                   ng-disabled= "checked==limit && !patterns[$index+1].selected">
          </div>
          <div class="col-sm-4" 
               style="background-color:black;letter-spacing: 4px;">
              <pre>  <span ng-repeat = "char in patterns[$index+2].data track by $index" 
                           ng-style="getStyle(char)" ><img ng-src="{{color}}"><span ng-if = "char == '\n'">{{char}}</span></pre> 
            <input type="checkbox" 
                   name= "$index+2" 
                   value= "$index+2" 
                   ng-change="checkChanged($index+2)" 
                   ng-model="patterns[$index+2].selected" 
                   ng-disabled= "checked==limit && !patterns[$index+2].selected">
          </div>
<!--          <div class="col-sm-4" 
              style="background-color:black;letter-spacing: 4px;">
              <pre><span ng-repeat = "char in patterns[$index+3].data track by $index" 
                         ng-style="getStyle(char)"><img ng-src="{{color}}"><span ng-if = "char == '\n'" style="font-size: 0px;">{{char}}</span></pre>
            <input type="checkbox" 
                   name= "$index+3" 
                   value= "$index+3" 
                   ng-change="checkChanged($index+3)" 
                   ng-model="patterns[$index+3].selected" 
                   ng-disabled= "checked==limit && !patterns[$index+3].selected">
          </div> -->
      </div>
    </div>
<!--   <div class="container" style="margin:auto;">
      <div class="col-sm-2">
            <input type="radio" 
                   ng-model= "colorScheme" 
                   value= "Batman">
            <p>Batman</p>        
      </div>
     <div class="col-sm-2">
            <input type="radio" 
                   ng-model= "colorScheme"
                   value= "Flash">
           <p>The Flash</p>   
      </div>

      <div class="col-sm-2">
            <input type="radio" 
                   ng-model= "colorScheme" 
                   value= "GreenLantern">
            <p>Green Lantern</p>        
		</div>
</div> -->
    </div>
    <div style="text-align:center;">
        <button ng-click="next()">
                Next
       </button>
        <button ng-click="finished()">
                Finished
      </button>
    </div>
  </body>
</html>
